


<h1>Olá! Sejam bem-vindos</h1>

<h3> Meu nome é Barbara Villegas</h3>
<p>Eu só venezuelana, e atualmente soy estudante de desenvolvimento web na <strong>Toti</strong> {{ urlToti }}<br>
já tem quase dois ano no Brasil e estou muito feliz de morar no Rio de Janeiro! <br>
<br>
Eu estou apaxionada pela tecnologia, sou Administrador de empresas e professor de ioga
</p>

<h4>Lugar favorito da cidade: {{ place }}</h4>
<h4>Prato favorito: {{ food }} </h4>
<h4>Palavra favorita: {{ word }} </h4>
<h4>Hobbie: {{ activity }} </h4>

 <p>Nesta foto fazendo o que mais gosto (alem de programaçao)</p>
 
    <img src= "{{ img_1 }}">
    

    <img [src]="img_2">
