b{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
}

h1{ 
text-align: center;
}

img {
    padding-right: 10px;
    height: 80px;
    width: 80px;
    background:transparent;
   
    
  }